@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="/pdfs">Decypt and Translate your files here</a> </p>
</div>
