@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Ensuring the safety and secuirty of vital law enfourcment documents is our highest priority.</p>
